@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,500&display=swap');


* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Mulish", sans-serif;
    background-color: #ffffff;
}

.green {
    background-color: #EEFCEF;
}

.blue {
    background-color: #E6F5FA;
}

.purple {
    background-color: #F4F5F9;
}

.pink {
    background-color: #FFEFE2;
    ;
}