@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


.nav-list-item {
    padding: 1rem;
    list-style: none;
    border-left: 5px solid #ffffff;
    color: #484848;
}

.nav-list-item:hover {
    cursor: pointer;
    animation: fadeIn 0.5s;
}

i {
    font-size: 20px;
    color: #484848;
}

.menu-icon {
    padding-left: 2rem;
}

.active {
    border-left: 5px solid rgb(29, 24, 24);
}

.nav-list-link {
    text-decoration: none;
    color: #484848;
}

.icon {
    padding: 12px;
    min-width: 35px;
    text-align: center;
}

.search-item {
    padding: 15px;
    border-radius: 13.5px;
    margin-bottom: 3em;
    border: 3px solid #ededed;
    background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
    padding-left: 50px;
    color: #adadad;
    width: 25rem;
    font-size: 1em;
    font-family: "Mulish", sans-serif;
}

.search-item:focus {
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: fadeIn 1s;
}

.filter-item {
    margin-left: 12rem;
    align-items: center;
    background-color: #ffff;
    padding: 6px;
    width: 7rem;
    border-radius: 10px;
    color: #adadad;
    border: 1px solid #adadad;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.filter-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5s;
}

.filter-item i {
    padding-left: 2rem;
}

.caption {
    color: #adadad;
    font-size: 15px;
}

.title {
    color: #010101;
    font-size: 20px;
}

.main-item-text h1 {
    font-size: 40px;
    font-weight: bolder;
    padding: 9px 0px 9px 0px;
}

.main-item-circle {
    background-color: #E6DFD5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 0em 1em 2em 0em;
}