@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


.navigation-list {
  display: flex;
  flex-direction: column;
}

.nav-list-item {
  padding: 1rem;
  list-style: none;
  border-left: 5px solid #ffffff;
}

.nav-list-item:hover {
  cursor: pointer;
  animation: fadeIn 0.5s;
}

i {
  padding-left: 2rem;
  font-size: 20px;
}

.active {
  border-left: 5px solid rgb(29, 24, 24);
}

.container {
  display: flex;

}

.navigation-list {
  width: 20%;
  border-right: 3px solid #ededed;
  position: relative;
}

.content {
  width: 80%;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.logo {
  width: 110px;
  height: 110px;
}

.item {
  padding: 2rem;
  font-size: 1em;
}

.user-img-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 3em 5em;
  position: absolute;
  bottom: 0;
  min-width: 35px;
}

.user-img {
  display: block;
  border-radius: 17px;
  padding: 10px;
  border: 1px solid #ededed;
  height: 50px;
  width: 50px;
  margin: 12px;
  position: relative;
}

.online-circle {
  height: 15px;
  width: 15px;
  background-color: #62AE6E;
  border-radius: 50%;
  position: absolute;
  bottom: 2em;
  right: 7px;
}

.content {
  display: flex;
  flex-direction: column;
}



.search-bar {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 35%;
  margin: 5rem 0rem 0rem 3rem;
}

.search-item {
  padding: 15px;
  border-radius: 13.5px;
  margin-bottom: 3em;
  border: 3px solid #ededed;
  background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
  padding-left: 50px;
  color: #adadad;
  width: 25rem;
  font-size: 1em;
  font-family: "Mulish", sans-serif;
}

.search-item:focus {
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: fadeIn 1s;
}

.filter-item {
  margin-left: 12rem;
  align-items: center;
  background-color: #ffff;
  padding: 6px;
  width: 7rem;
  border-radius: 15px;
  color: #adadad;
  border: 1px solid #adadad;
}

.input-container i {
  position: absolute;
}

.icon {
  padding: 12px;
  min-width: 35px;
  text-align: center;
}

.main-items-div {
  width: 10;
  display: flex;
  margin: 2rem;
}